@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Guadalajara, Jalisco<br />
        Mexico 44600<br />
        <abbr title="Teléfono">Tel:</abbr>
        3317483657
    </address>

    <address>
        <strong>Contacto 1:</strong>   <a href="mailto:nnte996@gmail.com">nnte996@gmail.com</a><br />
        <strong>Contacto 2:</strong> <a href="mailto:nnte996@outlook.com">nnte996@outlook.com</a>
    </address>
</main>